include ../../global/variables
 
<!DOCTYPE html>
html(lang="ru")
	include ../../global/head
	+head(
		'Сайт на Bootstrap 4 + BEM'
	)
	include ../../mixin/all-mixin
	body
		.container
		img(
			src="/home/oleg/dev/site-bootstrap/pug/gulpv3-sass-pug/src/files/images/logo.png",
			alt="Some",
			style="width: 200px; height: auto"
		)
		.container
			.row
				.col-6 SOME TEXT		
				.col-6 SOME TEXT
			.row
				.col
					img(
						src="http://images6.fanpop.com/image/photos/39900000/IMG-6250-PNG-kion-39961687-1024-577.png",
						alt="Some",
						style="width: 200px; height: auto"
					)
					.todo-wrapper
						each item in todos
							div.todo
								.title= item.title 

		include ../../global/footer
		include ../../global/scripts